/* Product display section */

.Product-card-container{
    border: 2px solid gray;
    border-radius: 10px;
    height: 510px;
    position: relative;
}

.Product-card{
    padding: 20px;
}

.Product-card img{
    width: 286px;
    height: 286px;
    border-radius: 10px;
}

/* add to cart button style */
.btn-add-cart{
    width: 100%;
    background-color: lightblue;
    border: 0;
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.btn-add-cart:hover{
    color: aliceblue;
    background-color: blue; 
}

.btn-text{
    margin-right: 10px;
}

