.header{
    padding: 5px 40px;
    background-color: #161616;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   align-items: center;
   justify-content: space-between;
}

.header img{
    width: 120px;
    height: 60px;
}

.header-text{
    color: lightblue;
}

.header a{
    text-decoration: none;
    color: lightblue;
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
}

.header a:hover{
    color: blue;
}

.sliding-text{
    color: blue;
    font-size: 22px;
    font-weight: 600;
    margin: 10px;
}

.header-instruction{
    text-align: center;
    color: navy;
}

/* Navbar Responsiveness for mobile  */
@media only screen and (max-width:600px) {
    .header{
        padding: 5px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-items: center;
    }
}