.header{
    padding: 5px 40px;
    background-color: #161616;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header img{
    width: 120px;
    height: 60px;
}

.header a{
    text-decoration: none;
    color: lightblue;
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
}

.header a:hover{
    color: blue;
}

.sliding-text{
    color: blue;
    font-size: 22px;
    font-weight: 600;
    margin: 10px;
}

/* Navbar Responsiveness for mobile  */
@media only screen and (max-width:600px) {
    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}